:global(#root) {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.page {
  display: flex;  
  flex-direction: row;
  flex: 1;
  gap: 24px;
  align-items: stretch;
  height: 100%;
}

.sidebar {
  width: 354px;
}

.contentWrapper {
  background: white;
  flex: 1;
  border-radius: 24px;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 600px;
}

.step {
  font-size: 20px;
  font-weight: 700;
}

.title {
  font-size: 32px;
  font-weight: 700;
}

.description {
  font-weight: 400;
  color: #353849;
}
